<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="row" style="margin: 30px">
    <div class="media col-lg-9" >
        <h3>发现</h3>
        <hr>
        <div th:each="question: ${questions}">
            <div class="media-left">
                <a href="#">
                    <img style="width: 39px" class="media-object" th:attr="src=${question.avatarUrl}"  >
                </a>
            </div>
            <div class="media-body" onclick="" >
                <a  th:href="@{'/question/'+${question.id}}">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                </a>
                <span style="font-size: 12px; font-weight: normal; color: #999;">
                <span th:text="${question.commentCount}"></span>个评论 •
                <span th:text="${question.viewCount}"></span>次浏览 •
                 <span th:text="${#calendars.format(question.gmtCreate,'yyyy-MM-dd HH:')}"></span>
            </span>
            </div>
            <hr>
        </div>

    </div>
    <!--右边的宣传/热点竖栏-->
    <div class="media col-lg-3">
        <h3>热门话题</h3>
    </div>
</div>

</body>
</html>