<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布问题-码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div style="margin: 50px">
    <form action="/publish" method="post">
        <div class="form-group">
            <label>问题标题（简单扼要）:</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="问题标题...">
        </div>
        <div class="form-group">
            <label>问题描述</label>
            <textarea class="form-control" rows="3" name="description" id="description"></textarea>
        </div>
        <div class="form-group">
            <label>添加标签(多个标签以逗号分隔)</label>
            <input type="text" class="form-control" name="tag" id="tag">
        </div>
        <button type="submit"  class="btn btn-success" >确认发起</button>
        <div th:text="${error}" style="color: red;">...</div>
    </form>
</div>
</body>
</html>